<script lang="ts">
    import { ToastMessageType } from './store';

    export let message: string;
    export let type: ToastMessageType;
</script>

<div class="toast-container" class:info={type === ToastMessageType.Info} class:success={type === ToastMessageType.Success} class:failure={type === ToastMessageType.Failure}>
    <span class="toast-identifier">
        {#if type === ToastMessageType.Info}
        &#128712;
        {:else if type === ToastMessageType.Success}
        &check;
        {:else if type === ToastMessageType.Failure}
        &cross;
        {/if}
    </span>
    <p class="toast-message">
        {message}
    </p>
</div>

<style>
    .toast-container {
        display: flex;

        align-items: center;

        gap: 0.5em;

        margin: 0.25em 0;

        padding: 0.5em;

        border-radius: 1em;

        pointer-events: auto;
    }

    .toast-container.info {
        background-color: aliceblue;
    }

    .toast-container.failure {
        background-color: lightpink;
    }

    .toast-container.success {
        background-color: lightgreen;
    }

    .toast-message {
        margin: 0;
    }

    .toast-identifier {
        font-size: 1.25em;

        user-select: none;
        pointer-events: none;
    }
</style>