<script lang="ts">
    import Toast from "./Toast.svelte";

    import { toasts } from './store';
</script>

{#if $toasts}
    <div id="toast-outer-container">
        <div id="toast-container">
            {#each $toasts as toast (toast.id)}
                <Toast type={toast.type} message={toast.message} />
            {/each}
        </div>
    </div>
{/if}

<style>
    #toast-outer-container {
        display: flex;

        flex-direction: column;

        align-content: flex-start;
        align-items: center;

        position: absolute;

        top: 0;
        left: 0;

        height: 100vh;
        width: 100vw;

        z-index: 200;

        pointer-events: none;
    }

    #toast-container {
        max-width: 20em;
    }
</style>