<script lang="ts">
  import { createEventDispatcher } from 'svelte';

  import { dynamicStyleVars } from '../../util.js';

  export let show: boolean;
  export let width: number;

  $: cssVariables = {
    modalWidth: width,
  };

  const dispatch = createEventDispatcher();

  function hideModal() {
    dispatch('ModalClose');

    show = false;
  }
</script>

<style>
  .modal-window {
    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 100;

    position: absolute;

    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgba(128, 128, 128, 0.6);
  }

  .modal-container {
    width: calc(var(--modalWidth) * 1em);

    max-height: calc(100vh - 2em);

    border-radius: 4px;

    padding: 0.5em 1em;

    background-color: white;

    overflow-y: auto;
  }
</style>

{#if show}
  <!-- Hide modal when clicking transparent background -->
  <div class="modal-window" on:click="{hideModal}" use:dynamicStyleVars={cssVariables}>
    <div class="modal-container" on:click="{(event) => event.stopPropagation()}">
      <slot></slot>
    </div>  
  </div>
{/if}
