<!-- routify:options preload="proximity" -->
<script lang="ts">
    import { onMount, setContext } from 'svelte';
    import { writable } from 'svelte/store';

    import Modal from './_components/Modal.svelte';
    import ToastContainer from './_components/_toast/ToastContainer.svelte';

    import { apiUrl } from '../api';

    import { ToastMessageType, addToast } from './_components/_toast/store';
    
    async function getRemoteUserData() {
        const response = await fetch(`${apiUrl}/user`, {
            method: 'GET',
            credentials: 'include'
        });

        if (!response.ok) {
            throw new Error('You are not logged in!');
        }

        return await response.json()
    }

    let remoteUser = writable(null);
    
    setContext('remoteUser', remoteUser);

    let username = '';
    let password = '';

    async function login() {
        const response = await fetch(`${apiUrl}/login`, {
            method: 'POST',
            credentials: 'include',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              username: username,
              password: password
            })
        });

        if (response.ok) {
            $remoteUser = await getRemoteUserData();

            showLoginModal = false;

            username = '';
            password = '';

            addToast({type: ToastMessageType.Success, message: await response.text(), timeout: 3000});
        } else {
            addToast({type: ToastMessageType.Failure, message: await response.text(), timeout: 5000});
        }        
    }

    async function logout() {
        const response = await fetch(`${apiUrl}/logout`, {
            method: 'POST',
            credentials: 'include'
        });

        if (response.ok) {
            $remoteUser = null;

            addToast({type: ToastMessageType.Success, message: 'You have been logged out', timeout: 3000});
        } else {
            addToast({type: ToastMessageType.Failure, message: await response.text(), timeout: 5000});
        }
    }

    let showLoginModal = false;

    let showRegisterModal = false;

    let registerUsername = '';
    let registerPassword = '';
    let registerConfirmPassword = '';

    async function post_to_api(endpoint, body, headers?) {
        return await fetch(`${apiUrl}${endpoint}`, {
            method: 'POST',
            credentials: 'include',
            headers: {
              'Content-Type': 'application/json',
              ...headers
            },
            body: JSON.stringify(body)
        });
    } 

    async function register() {
        if (registerPassword !== registerConfirmPassword) {
            return;
        }

        const register_response = await post_to_api('/register', {
            username: registerUsername,
            password: registerPassword,
        })

        if (register_response.ok) {
            const login_response = await post_to_api('/login', {
                username: registerUsername,
                password: registerPassword,
            })

            if (login_response.ok) {
                $remoteUser = await getRemoteUserData();

                registerUsername = '';
                registerPassword = '';
                registerConfirmPassword = '';

                showRegisterModal = false;

                addToast({type: ToastMessageType.Success, message: 'You have been successfully registered, welcome!', timeout: 5000});
            } else {
                addToast({type: ToastMessageType.Failure, message: await login_response.text(), timeout: 5000});
            }
        } else {
            addToast({type: ToastMessageType.Failure, message: await register_response.text(), timeout: 5000});
        }
    }

    onMount(async () => {
        try {
            $remoteUser = await getRemoteUserData();
        } catch (e) {
            // blah blah blah
        }
    });
</script>

<header>
    <div><a href="/">Kanban</a></div>

    {#if $remoteUser !== null}
        <div>
            Logged in as {$remoteUser.user_name}#{$remoteUser.user_number}
            <button type="button" on:click="{logout}">Logout</button>
        </div>
    {:else}
        <div>
            <button type="button" on:click="{() => showRegisterModal = true}">Register</button>
            OR
            <button type="button" on:click="{() => showLoginModal = true}">Login</button>
        </div>
    {/if}
</header>

<slot />

<Modal bind:show={showLoginModal} width={16}>
    <h2>Login</h2>

    <form>
        <label for="username">Username</label>
        <input type="text" name="username" bind:value="{username}">
        <label for="password">Password</label>
        <input type="password" name="password" bind:value="{password}">
        <br>
        <input type="button" value="Login" on:click="{login}">
    </form>
</Modal>

<Modal bind:show={showRegisterModal} width={16}>
    <h2>Register</h2>

    <form>
        <label for="username">Username</label>
        <input type="text" name="username" bind:value="{registerUsername}">
        <label for="password">Password</label>
        <input type="password" name="password" bind:value="{registerPassword}">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" bind:value="{registerConfirmPassword}">
        <br>
        <input type="button" value="Register" on:click="{register}">
    </form>
</Modal>

<ToastContainer />

<style>
    header {
        display: flex;

        justify-content: space-between;
    }
</style>