<script>
  import { createEventDispatcher } from 'svelte';

  import { dynamicStyleVars } from '../../../util.js';

  import { getBoardComponentStyleVariables } from './style.js';

  export let title;
  export let description;
  export let style;

  const dispatch = createEventDispatcher();

  function onRemoveClick() {
    dispatch('RemoveCardClick', {});
  }

  $: cssVariables = {
      ...getBoardComponentStyleVariables('card', style),          
  };
</script>

<style>
  .card-outer {
    margin: 0.5em 0;

    border: solid 1px var(--card-border-color);
    border-radius: 8px;

    background-color: var(--card-background-color);
    background-image: var(--card-background-image-url);
    background-position-y: var(--card-background-image-offset);
    background-size: cover;

    overflow: hidden;
  }

  .card-inner {
    padding: 0.25em;

    background-color: var(--card-foreground-color);

    color: var(--card-font-color);
  }

  .card-header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .card-header > h3 {
    margin: 0.25em 0;

    padding: 0.125em;
  }
</style>

<div class="card-outer" use:dynamicStyleVars={cssVariables}>
  <div class="card-inner">
    <div class="card-header">
      <h3>{title}</h3>
      <button on:click|stopPropagation={onRemoveClick}>X</button>
      </div>
    <p>{description}</p>
  </div>
</div>
