<script lang="ts">
  export let options;
</script>

<label for="color">Color</label>
<input type="color" name="color" bind:value="{options.color}">
<button type="button" on:click={() => options.color = undefined}>X</button>
<label for="opacity">Opacity</label>
<input type="number" name="opacity" min="0" max="255" bind:value="{options.opacity}">
 
