<script>
  import DraggableCard from './DraggableCard.svelte';

  import { createEventDispatcher } from 'svelte';

  import { cardIdCounter } from '../../../stores.js';
  import { dynamicStyleVars, isUrlValid } from '../../../util.js';

  import { BackgroundSize } from '../constants.js';

  import { getBoardComponentStyleVariables } from './style.js';


  export let id;
  export let title;
  export let cards = [];

  const dispatch = createEventDispatcher();

  function addCard() {
    cards.push({
      id: $cardIdCounter,
      title: `Card ${$cardIdCounter}`,
      description: 'Enter a description!',
      style: {
          background: {},
          backgroundImage: {},
          foreground: {},
          border: {},
          font: {},
      }
    });

    cardIdCounter.increment();

    cards = cards;
  }

  let container;

  function onDragOver(event) {
    event.preventDefault();

    event.dataTransfer.dropEffect = 'move';
  }

  function onDrop(event) {
    const dropData = event.dataTransfer.getData('application/json');

    if (!dropData) return;

    const parsedData = JSON.parse(dropData);

    if (!('type' in parsedData) || parsedData['type'] !== 'card') return;

    event.preventDefault();

    // Card will be placed based on center of existing cards
    const centerOfCards = Array.from(
      container.children,
      (element) => {
        const rect = element.getBoundingClientRect();
        return rect.y + (rect.height / 2) + window.pageYOffset;
      }
    )

    const heights = [event.y, ...centerOfCards].sort((a, b) => a - b);

    const index = heights.findIndex((height) => height === event.y); 

    const cardData = {
      cardId: parsedData.cardId,
      targetCardIndex: index,
      sourceColumnId: parsedData.columnId,
      targetColumnId: id 
    };

    dispatch('movecard', cardData);
  }

  /* Dragging handlers */

  function onDragStart(event) {
    event.stopPropagation();

    event.dataTransfer.effectAllowed = 'move';
    event.dataTransfer.setData('application/json', JSON.stringify({
      type: 'column',
      columnId: id,
    }));
  }

    /* Column editing */
    function onColumnClick(event) {
      dispatch('EditColumn', {columnId: id});
    }

    /* Style variables */
    export let style;

    $: cssVariables = {
        ...getBoardComponentStyleVariables('column', style.column ?? {}),
        ...getBoardComponentStyleVariables('card', style.card ?? {}),
    };

    function onRemoveClick() {
      dispatch('RemoveColumn', {columnId: id});
    }
</script>

<div class="column" draggable="true" on:click|stopPropagation={onColumnClick} on:dragstart={onDragStart} use:dynamicStyleVars="{cssVariables}"> 
  <div class="column-inner">
    <div class="column-header">
      <h2>
        <span class="column-title">{title}</span>
        <span class="card-count">({cards.length})</span>
      </h2>
      <div class="header-buttons">
        <button on:click|stopPropagation={addCard}>Add</button>
        <button on:click|stopPropagation={onRemoveClick}>X</button>
      </div>
    </div>
    <div class="column-items" bind:this={container} on:dragover={onDragOver} on:drop={onDrop}>
      {#each cards as card}
        <DraggableCard id={card.id} colId={id} title={card.title} description={card.description} style={card.style} on:EditCard on:RemoveCard></DraggableCard>
      {/each}
    </div>
  </div>
</div>

<style>
  .column {
    display: flex;

    flex-basis: 0;

    margin: 0 0.5em;

    min-width: 20em;

    border: solid 2px var(--column-border-color);
    border-radius: 6px;

    background-color: var(--column-background-color);
    
    background-image: var(--column-background-image-url);
    background-position-y: var(--column-background-image-offset);
    background-repeat: var(--column-background-image-repeat);
    background-size: var(--column-background-image-size);

    color: var(--column-font-color);
  }
  
  .column:first-child {
    margin-left: 0;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  .column-inner {
    display: flex;
    
    flex-basis: 20em;
    flex-direction: column;
    
    padding: 0 0.5em;
    
    background-color: var(--column-foreground-color);

    overflow-y: auto;
  }

  h2 {
    flex-grow: 1;

    margin: 0.25em 0;

    padding: 0.25em 0.125em;
  }

  h2:hover  {
    background-color: grey;

    cursor: pointer;
  }

  .card-count {
    vertical-align: middle;

    font-size: 0.625em;
  }

  .column-items {
    flex-grow: 1;

    min-height: 10em;
    
    border: transparent 0.125em dashed;
  }
</style>
