<script lang="ts">
  import ColorFields from './ColorFields.svelte';
  import ImageFields from './ImageFields.svelte';

  export let title;
  export let style;
</script>

<style>
  .style-editor-container {
    background-color: lightgray;
  }
</style>

<fieldset class="style-editor-container">
  <legend>{title}</legend>

  {#if style.background !== undefined}
  <fieldset>
    <legend>Background</legend>
    <ColorFields bind:options="{style.background}" />    
  </fieldset>
  {/if}

  {#if style.backgroundImage !== undefined}
  <fieldset>
    <legend>Background Image</legend>
    <ImageFields bind:options="{style.backgroundImage}" />
  </fieldset>
  {/if}

  {#if style.foreground !== undefined}
  <fieldset>
    <legend>Foreground</legend>
    <ColorFields bind:options="{style.foreground}" />
  </fieldset>
  {/if}
  
  {#if style.border !== undefined}
  <fieldset>
    <legend>Border</legend>
    <ColorFields bind:options="{style.border}" />
  </fieldset>
  {/if}

  {#if style.font !== undefined}
  <fieldset>
    <legend>Font</legend>
    <ColorFields bind:options="{style.font}" />
  </fieldset>
  {/if}
</fieldset>

