<script>
  import Card from './Card.svelte';

  import { createEventDispatcher } from 'svelte';

  export let id;
  export let colId;
  export let title;
  export let description;
  export let style;

  const dispatch = createEventDispatcher();

  function onDragStart(event) {
    event.stopPropagation();

    event.dataTransfer.effectAllowed = 'move';
    event.dataTransfer.setData('application/json', JSON.stringify({
      type: 'card',
      cardId: id,
      columnId: colId,
    }));
  }

  function onDragEnd(event) {}

  /* Content editing logic */

  function onClick(element) {
    dispatch('EditCard', {
      cardId: id,
      columnId: colId
    });
  }

  function onRemoveCardClick() {
    dispatch('RemoveCard', {columnId: colId, cardId: id});
  }
</script>

<style>
  .draggable-card {
    overflow: hidden;
  }

  .draggable-card:hover {
    cursor: pointer;
  }
</style>

<div class="draggable-card" draggable="true" on:click|stopPropagation={onClick} on:dragstart={onDragStart} on:dragend={onDragEnd}>
  <Card title={title} description={description} style={style} on:RemoveCardClick={onRemoveCardClick} />
</div>
