<script lang="ts">
  import { BackgroundSize } from '../constants.js';

  export let options;
</script>

<input type="text" name="imageUrl" bind:value="{options.url}">
<input type="number" name="imageOffset" bind:value="{options.offset}">
<label>Repeat <input type="checkbox" bind:checked="{options.repeat}"></label>
<select bind:value="{options.size}">
    <option value="{null}">Default</option>
    <option value="{BackgroundSize.Contain}">Contain</option>
    <option value="{BackgroundSize.Cover}">Cover</option>
</select>

