<script>
  import { metatags, Router } from '@roxi/routify';
  import { routes } from '../.routify/routes';

  import localforage from 'localforage';

  metatags.template('title', title => `Kanban | ${title}`)

  localforage.config({
    name: 'kanban_board_local'
  });
</script>

<Router {routes} />

